.popup__close-icon{
    margin: 0;
    padding: 0;
    position: absolute;
    top: -50px;
    right: -50px;
    height: 30px;
    cursor: pointer;
}
@media screen and (max-width: 730px) {
  .popup__close-icon{
      top: -60px;
      right: 0;
  }
}
@media screen and (max-width: 550px) {
  .popup__close-icon{
      height: 24px;
  }
}