.contacts__link-container{
    line-height: 30px;
    font-size: 20px;
    font-weight: normal;
    text-decoration: none;
    color: black;
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0;
    padding: 0;
    transition: .2s;
    width: fit-content;
}
.contacts__link-container:last-child:hover{
    opacity: 1;
    color: #000000;
}
.contacts__link-container:hover{
    color: #7b4e0a;
}
.contacts__link-container:hover .contacts__link-image{
    opacity: .8;
}
@media screen and (max-width: 550px) {
    .contacts__link-container:last-child{
        flex-direction: column;
    }
}
@media screen and (max-width: 380px) {
    .contacts__link-container{
        font-size: 16px;
    }
}