.contacts__links-container{
    margin: 0 100px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media screen and (max-width: 1100px) {
    .contacts__links-container{
        margin: 0 50px;
    }
}
@media screen and (max-width: 1050px) {
    .contacts__links-container{
        margin: 0 25px;
    }
}
@media screen and (max-width: 1000px) {
    .contacts__links-container{
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
}
@media screen and (max-width: 550px) {
    .contacts__links-container{
        align-items: start;
    }
}