.about-us__image{
    margin: 0;
    padding: 0;
    max-width: 50%;
    object-fit: cover;
    border-radius: 30px;
    cursor: pointer;
}
@media screen and (max-width: 1160px) {
    .about-us__image{
        max-width: 100%;
    }
}
@media screen and (max-width: 450px) {
    .about-us__image{
        height: 250px;
    }
}