@import url(../vendor/normalize.css);
@import url(../vendor/fonts/stylesheet.css);
@import url(../blocks/body/body.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo-image/header__logo-image.css);
@import url(../blocks/header/__button-text/header__button-text.css);
@import url(../blocks/header/__navigation/header__navigation.css);
@import url(../blocks/header/__button/header__button.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/about-us/about-us.css);
@import url(../blocks/about-us/__image/about-us__image.css);
@import url(../blocks/about-us/__text/about-us__text.css);
@import url(../blocks/about-us/__button/about-us__button.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__info-title/footer__info-title.css);
@import url(../blocks/footer/__info/footer__info.css);
@import url(../blocks/footer/__operating-image/footer__operating-image.css);
@import url(../blocks/footer/__operating-text/footer__operating-text.css);
@import url(../blocks/footer/__operating/footer__operating.css);
@import url(../blocks/footer/__phone/footer__phone.css);
@import url(../blocks/footer/__phone-image/footer__phone-image.css);
@import url(../blocks/footer/__phone-number/footer__phone-number.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/main-text/main-text.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__image/popup__image.css);
@import url(../blocks/popup/__hiden-overlay/popup__hiden-overlay.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close-icon/popup__close-icon.css);
@import url(../blocks/popup/__opened/popup__opened.css);
@import url(../blocks/popup/__expand/popup__expand.css);
@import url(../blocks/popup/__expand/_right/popup__expand_right.css);
@import url(../blocks/popup/__expand/_left/popup__expand_left.css);
@import url(../blocks/main/main.css);
@import url(../blocks/main/__image/main__image.css);
@import url(../blocks/main/__image-container/main__image-container.css);
@import url(../blocks/main/__image-expand/main__image-expand.css);
@import url(../blocks/main/__image-expand/_right/main__image-expand_right.css);
@import url(../blocks/main/__image-expand/_left/main__image-expand_left.css);
@import url(../blocks/main/__text/main__text.css);
@import url(../blocks/main/__text-container/main__text-container.css);
@import url(../blocks/how-find-us/how-find-us.css);
@import url(../blocks/how-find-us/__title/how-find-us__title.css);
@import url(../blocks/how-find-us/__map-container/how-find-us__map-container.css);
@import url(../blocks/hidden/hidden.css);
@import url(../blocks/main/__text-span/main__text-span.css);
@import url(../blocks/contacts/contacts.css);
@import url(../blocks/contacts/__link-image/contacts__link-image.css);
@import url(../blocks/contacts/__links-container/contacts__links-container.css);
@import url(../blocks/contacts/__link-container/contacts__link-container.css);
@import url(../blocks/contacts/__link-container-span/contacts__link-container-span.css);
@import url(../blocks/contacts/__title/contacts__title.css);
@import url(../blocks/main-catalog/main-catalog.css);
@import url(../blocks/main-catalog/__title/main-catalog__title.css);
@import url(../blocks/main-catalog/__item-title/main-catalog__item-title.css);
@import url(../blocks/main-catalog/__item-image/main-catalog__item-image.css);
@import url(../blocks/main-catalog/__item/main-catlog__item.css);
@import url(../blocks/main-catalog/__items-container/main-catalog__items-container.css);
@import url(../blocks/product/product.css);
@import url(../blocks/product/__image/product__image.css);
@import url(../blocks/product/__image-container/product__image-container.css);
@import url(../blocks/product/__left-side/product__left-side.css);
@import url(../blocks/product/__info-container/product__info-container.css);
@import url(../blocks/product/__right-side/product__right-side.css);
@import url(../blocks/product/__text/product__text.css);
@import url(../blocks/product/__text-container/product__text-container.css);
@import url(../blocks/product/__title/product__title.css);
@import url(../blocks/product/__image-count/product__image-count.css);
@import url(../blocks/product/__price/product__price.css);
@import url(../blocks/product/__name-and-price/product__name-and-price.css);
@import url(../blocks/footer/__order/footer__order.css);
@import url(../blocks/footer/__order-image/footer__order-image.css);
@import url(../blocks/footer/__order-text/footer__order-text.css);
@import url(../blocks/bestsellers/bestsellers.css);
@import url(../blocks/bestsellers/__title/bestsellers__title.css);
@import url(../blocks/bestsellers/__items-container/bestsellers__items-container.css);
@import url(../blocks/socials/socials.css);
@import url(../blocks/socials/_side/socials_side.css);
@import url(../blocks/socials/__link/socials__link.css);
@import url(../blocks/socials/__fab/socials__fab.css);
@import url(../blocks/socials/__fab/_vk/socials__fab_vk.css);
@import url(../blocks/socials/__fab/_wa/socials__fab_wa.css);
.review{
    margin: 0 0 40px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.review__title{
    color: #333;
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 20px;
    margin-top: 12px;
    text-align: center;
}
.review__vidget{
    width: 760px;
    height: 800px;
    overflow: hidden;
    position: relative;
    box-shadow: 1px 4px 7px 0 rgba(0,0,0,.16);
}
@media screen and (max-width: 850px) {
    .review__vidget{
        width: 650px;
    } 
}
@media screen and (max-width: 730px) {
    .review__vidget{
        width: 550px;
    } 
}
@media screen and (max-width: 600px) {
    .review__vidget{
        width: 450px;
    } 
}
@media screen and (max-width: 500px) {
    .review__vidget{
        width: 400px;
    } 
}
@media screen and (max-width: 450px) {
    .review__vidget{
        width: 350px;
    } 
}
@media screen and (max-width: 390px) {
    .review__vidget{
        width: 300px;
    } 
}