@import url(../vendor/normalize.css);
@import url(../vendor/fonts/stylesheet.css);
.body{
    margin: 0 auto;
    padding: 0;
    font-family: 'SF Pro Display', Inter;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    background-color: #d3d3d3;
}
.page{
    margin: 0 auto 0;
    padding: 0;
    background-color:#faebd7;
    background-size: cover;
    position: relative;
    max-width: 1920px;
}
.header__logo-image{
    width: 80px;
    height: 80px;
    margin: 0;
    padding: 0;
}
.header{
    background-image: url(../images/fon.jpg);
    background-size: cover;
    margin: 0;
    padding: 0 370px;
    display: flex;
    align-items: center;
    gap: 100px;
}
.header__button-text{
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    transition: .2s;

}
.header__button-text:hover{
    color: #7b4e0a;
}
.header__navigation{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.header__button{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 6px;
    cursor: pointer;
    align-items: center;
}
.header__logo{
    margin: 0;
    padding: 0;
    transition: .2s;
}
.header__logo:hover{
    opacity: .7;
}
@media screen and (max-width: 1650px) {
    .header{
        padding: 10px 250px;
    }
}
@media screen and (max-width: 1350px) {
    .header{
        padding: 10px 75px;
    }
}
@media screen and (max-width: 1000px) {
    .header{
        padding: 10px 50px;
    }
    .header__logo-image{
        width: 80px;
        height: 80px;
    }
}
@media screen and (max-width: 850px){
.header{
    gap: 50px;
}
}
@media screen and (max-width: 800px){
    .header__button-text{
        font-size: 20px;
    }
    .header{
        gap: 20px;
        padding: 5px 40px;
    }
    }
@media screen and (max-width: 650px){
    .header{
        padding: 0 20px;
        gap: 30px;
    }
    .header__button-text{
        font-size: 16px;
    }
    }
@media screen and (max-width: 390px){
        .header{
            padding: 0 30px;
            gap: 10px;
        }
        .header__button-text{
            font-size: 14px;
        }
        }
.about-us{
    margin: 30px 30px 0 30px;
    padding: 0 0 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.about-us__image{
    margin: 0;
    padding: 0;
    max-width: 50%;
    object-fit: contain;
    border-radius: 30px;
    cursor: pointer;
}
.about-us__text{
    margin: 30px 10px 0 10px;
    padding: 0;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    color: #000000;
    text-indent: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-us__button{
    margin: 70px 0 0;
    padding: 0;
    width: 240px;
    height: 60px;
    background-image: url(../images/fon.jpg);
    color: #000000;
    text-decoration: none;
    display: flex;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    transition: .2s;
}
.about-us__button:hover{
    opacity: .9;
    color: #7b4e0a;
}

@media screen and (max-width: 1500px) {
    .about-us__text{
        font-size: 24px;
    }
}

@media screen and (max-width: 1160px) {
    .about-us{
        flex-direction: column;
        gap: 0px;
    }
    .about-us__image{
        max-width: 100%;
    }
}
@media screen and (max-width: 950px) {
.about-us__text{
    margin: 10px 10px 0 10px;
}
.about-us__button{
    margin: 40px 0 0;
}
}
@media screen and (max-width: 650px) {
    .about-us__text{
        margin: 15px 10px 0;
    }
    .about-us__button{
        margin: 30px 0 0;
    }
}
@media screen and (max-width: 550px) {
    .about-us__text{
        font-size: 20px;
    }
}
@media screen and (max-width: 450px) {
    .about-us__text{
        margin: 15px 0px 0;
    }
    .about-us__image{
        height: 400px;
    }
}
@media screen and (max-width: 450px) {
    .about-us__image{
        height: 250px;
    }
}
.catalog{
    margin: 40px auto;
    padding: 0 300px 40px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}
.catalog__item{
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    width: 200px;
    height: 230px;
    background-image: url(../images/fon.jpg);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #000000;
    border-radius: 30px;
    text-align: center;
    transition: .2s;
    gap: 30px;
    justify-content: center;
    align-items: center;
    justify-self: center;
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,.16);
}
.catalog__item:hover{
    opacity: .9;
    color: #7b4e0a;
}
.catalog__image{
    width: 140px;
    height: 110px;
    margin: 0;
    padding: 0;
    object-fit: cover;
    border-radius: 20px;
}
.catalog-section{
    margin: 40px 0 0;
    padding: 0;
}
.catlog__title{
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 500;
    font-size: 35px;
    line-height: 43px;
}
.footer{
    margin: 0;
    padding: 0 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url(../images/fon.jpg);
    background-size: cover;
    align-items: center;
}
.footer__info-title{
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 23.5px;
    text-align: center;
}
.footer__info{
    margin: 0;
    padding: 15px 0 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer__operating-image{
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
}
.footer__operating-text{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 14.5px;
}
.footer__operating{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.footer__phone{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.footer__phone-image{
    width: 22px;
    height: 22px;
    margin: 0;
    padding: 0;
}
.footer__phone-number{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 14.5px;
}
.footer__copyright{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 14.5px;
}

@media screen and (max-width: 1725px) {
  .catalog{
    padding: 0 200px 40px;
  }
  .footer{
    padding: 0 150px; 
  }
}
@media screen and (max-width: 1525px) {
    .catalog{
      padding: 0 100px 40px;
    }
  }
  @media screen and (max-width: 1400px) {
    .main__text{
        margin: 10px 10px 0 10px;
        padding: 0;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        color: #000000;
        text-indent: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        }
  }
  @media screen and (max-width: 1315px) {
    .catalog{
      padding: 0 100px 40px;
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: repeat(4, 1fr);
    }
  }
  @media screen and (max-width: 1100px) {
    .catalog{
      padding: 0 100px 40px;
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media screen and (max-width: 950px) {
    .footer{
        padding: 0 100px; 
      }
  }
  @media screen and (max-width: 900px) {
    .catalog{
      padding: 0 50px 40px;
    }
  }
  @media screen and (max-width: 740px) {
    .catalog{
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
    .catalog__item{
        font-size: 14px;
    }
    .footer{
        flex-direction: column;
        padding: 10px 0;
        gap: 10px; 
    }
  }
  @media screen and (max-width: 530px) {
    .catalog{
        padding: 0 20px 40px;
      }
    .catalog__item{
        width: 160px;
        height: 184px;
        gap: 10px;
    }
  }
  @media screen and (max-width: 390px) {
    .catalog{
        gap: 10px;
    }
    .catalog__item{
        width: 128px;
        height: 148px;
        gap: 10px;
    }
    .catalog__image{
        width: 84px;
        height: 84px;
    }}
  .popup{
    margin: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .9);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
  }
  .popup__image{
    max-width: 900px;
    height: 600px;
    margin: 0;
    padding: 0;
    z-index: 4;
  }
  .popup__hiden-overlay{
    margin: 0;
    padding: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    position: fixed;
  }
  .popup__container{
    margin: 0;
    padding: 0;
    z-index: 3;
    position: relative;
  }
  .popup__close-icon{
    margin: 0;
    padding: 0;
    position: absolute;
    top: -50px;
    right: -50px;
    height: 30px;
    cursor: pointer;
  }
  .popup_opened{
    opacity: 1;
    visibility: visible;
  }
  .popup__expand{
    position: absolute;
    top: 50%;
    height: 15px;
    border-radius: 50%;
    padding: 10px;
    object-fit: cover;
    cursor: pointer;
    transition: .1s;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .popup__expand_right{
    transform:rotate(270deg);
    right: 5px;
  }
  .popup__expand_left{
    transform:rotate(90deg);
    padding-left: 5px;
  }
  @media screen and (max-width: 1280px) {
    .popup__image{
        max-width: 700px;
        height: 50%;
     }
    }
    @media screen and (max-width: 800px) {
        .popup__image{
            max-width: 600px;
            }
    }
    @media screen and (max-width: 730px) {
        .popup__close-icon{
            top: -60px;
            right: 0;
        }
    }
    @media screen and (max-width: 650px) {
        .popup__image{
                max-width: 500px;
            }
    }
    @media screen and (max-width: 550px) {
        .popup__image{
                max-width: 400px;
        }
        .popup__close-icon{
            height: 24px;
        }
    }
    @media screen and (max-width: 440px) {
        .popup__image{
                width: 350px;
            }
    }
    @media screen and (max-width: 380px) {
        .popup__image{
                width: 300px;
            }
    }
    @media screen and (max-width: 320px) {
        .popup__image{
                width: 250px;
            }
    }
    .main{
        margin: 30px 30px 0;
        padding: 0 0 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        gap: 10px;
    }
    .main__image{
        margin: 0;
        cursor: pointer;
        border-radius: 30px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: ease-in-out;
    }
    .main__image-container{
        margin: 0;
        padding: 0;
        max-width: 100%;
        max-height: 100%;
        position: relative;
        overflow: hidden;
        display: flex;
        justify-self: center;
        align-self: center;
    }
    .main__image-expand{
        position: absolute;
        top: 50%;
        height: 15px;
        border-radius: 50%;
        padding: 10px;
        object-fit: cover;
        cursor: pointer;
        transition: .1s;
        background-color: rgba(255, 255, 255, 0.5);
    }
    .main__image-expand_right{
        transform:rotate(270deg);
        right: 5px;
    }
    .main__image-expand_left{
        left: 5px;
        transform:rotate(90deg);
    }
    .main__image-expand:hover{
        opacity: 0.7;
    }
    .main__text{
    margin: 10px 10px 0 10px;
    padding: 0;
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    color: #000000;
    text-indent: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .main__text:first-child{
        margin: 10px 10px 0 10px;
    }
    .main__text-container{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .how-find-us{
        margin: 30px 50px 50px;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .how-find-us__title{
        margin: 0 0 30px;
        padding: 0;
        font-weight: 400;
        font-size: 22px;
        line-height: 24px;
    }
    .how-find-us__map-container{
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        border: 1px solid #d3d3d3;
        justify-self: center;
    }
    @media screen and (max-width: 1306px) {
        .main{
            display: flex;
            flex-direction: column;
            margin: 30px 15px 0
        }
        .main__image-container{
            max-width: 50%;
        }
        .main__text{
            font-weight: 400;
            font-size: 18px;
            line-height: 20px;
            text-align: justify;
            }
    }
    @media screen and (max-width: 850px) {
        .main__image-container{
            max-width: 70%;
        }
    }
    @media screen and (max-width: 600px) {
        .main__image-container{
            max-width: 100%;
        }
    }
    @media screen and (max-width: 415px) {
        .main{
            gap: 10px;
        }
        .main__text{
            font-size: 16px;
            line-height: 16px;
        }
    }
    .hidden{
        display: none;
    }
    .main__text-span{
        color: #5e1717;
    }
    .contacts{
        margin: 0 30px 30px 50px;
        padding: 20px 0;
        background-color: #f5e5ce;
        border: 1px solid rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        gap: 30px;
        border-radius: 30px;
    }
    .contacts__link-image{
        margin: 0;
        padding: 0;
        width: 24px;
        transition: .2s;
    }
    .contacts__links-container{
        margin: 0 100px;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .contacts__link-container{
        line-height: 30px;
        font-size: 20px;
        font-weight: normal;
        text-decoration: none;
        color: black;
        transition: 0.3s;
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin: 0;
        padding: 0;
        transition: .2s;
        width: fit-content;
    }
    .contacts__link-container:last-child:hover{
        opacity: 1;
        color: #000000;
    }
    .contacts__link-container:hover{
        color: #7b4e0a;
    }
    .contacts__link-container:hover .contacts__link-image{
        opacity: .8;
    }
    .contacts__link-container-span{
        color: blue;
    }
    .contacts__title{
        margin: 0;
        padding: 0;
        text-align: center;
        font-weight: 400;
        font-size: 22px;
        line-height: 24px;
    }
    @media screen and (max-width: 1100px) {
        .contacts__links-container{
            margin: 0 50px;
        }
    }
    @media screen and (max-width: 1050px) {
        .contacts__links-container{
            margin: 0 25px;
        }
    }
    @media screen and (max-width: 1000px) {
        .contacts__links-container{
            flex-direction: column;
            gap: 20px;
            align-items: center;
        }
    }
    @media screen and (max-width: 550px) {
        .contacts__links-container{
            align-items: start;
        }
        .contacts__link-container:last-child{
            flex-direction: column;
        }
    }
    .main-catalog__title{
        color: #333;
        font-size: 28px;
        font-weight: 700;
        line-height: 32px;
        margin-bottom: 20px;
        margin-top: 12px;
        text-align: center;
    }
    .main-catlog__item-title{
        align-items: center;
        color: #000000;
        display: flex;
        font-size: 16px;
        font-weight: 700;
        height: 63px;
        justify-content: center;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .main-catalog__item-image{
        display: inline-block;
        height: 200px;
        border-radius: 8px;
        line-height: 150px;
        text-align: center;
        width: 100%;
        object-fit: cover;
    }
    .main-catlog__item{
        border-radius: 8px;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.16);
        display: inline-block;
        height: 280px;
        padding: 30px 30px 0;
        position: relative;
        vertical-align: top;
        text-decoration: none;
        background-color: #f5e5ce;
        border: 1px solid rgba(0, 0, 0, 0.1);
        transition: .1s;
    }
    .main-catalog__items-container{
        grid-gap: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
        box-sizing: border-box;
        padding: 0 10px;
        box-sizing: content-box;
    }
    .main-catalog{
        margin: 50px 100px;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .main-catlog__item:hover{
        opacity: .8;
    }
    .main-catlog__item:hover .main-catlog__item-title{
        color: #7b4e0a;
    }
    @media screen and (max-width: 800px){
        .main-catalog__items-container{
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media screen and (max-width: 670px){
        .main-catalog{
            margin: 50px 50px;
        }
    }
    @media screen and (max-width: 570px){
        .main-catalog{
            margin: 50px 25px;
        }
    }
    @media screen and (max-width: 520px){
        .main-catalog__items-container{
            grid-template-columns: repeat(2, 200px);
        }
    }
    @media screen and (max-width: 500px){
        .main-catalog__items-container{
            grid-template-columns: repeat(1, 280px);
        }
        .main-catalog__items-container{
            justify-content: center;
        }
        .main-catalog{
            margin: 30px 25px;
        }
    }
.product__image{
    margin: 0;
    padding: 0;
    width: 600px;
    height: 600px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}
.product__image-container{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.prduct__left-side{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.product__info-container{
    margin: 25px auto;
    padding: 0;
    max-width: 1280px;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 1320px){
    .product__info-container{
        display: flex;
        flex-direction: column;
    }
    .product__image-container{
        width:  fit-content;
        align-self: center;
    }
    .prduct__right-side{
        width: 90%;
        align-self: center;
    }
}
@media screen and (max-width: 690px){
.product__image{
    max-width: 100%;
    height: auto;
}
.product__info-container{
    max-width: 90%;
}
}
.product{
    margin: 0;
    padding: 0;
}
.product__mini-image{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
    object-fit: cover;
}
.product__mini-image-container{
    margin: 0;
    padding: 0;
    /* outline: 1px solid blue; */
    gap: 10px   ;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.product__text{
    margin: 0;
    padding: 0;
}
.product__text-container{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
}
.product__text:last-child{
    color: #5e1717;
}
.product__title{
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-weight: 700;
    word-break: break-word;
}
.product__mini-image_active{
    border-bottom: 2px solid #ff0000;
}
.product__image-count{
    position: absolute;
    top: 20px;
    right: 30px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .2);
}
.product__price{
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-weight: 700;
    line-height: 20px;
    color: #5e1717;
}
.product__name-and-price{
    margin: 20px 0 20px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 650px){
.product__text{
    font-size: 18px;
}
}
@media screen and (max-width: 465px){
    .product__name-and-price{
        flex-direction: column;
        gap: 10px;
        margin-top: 0px;
    }
    .prduct__right-side{
        width: 95%
    }
    .product__title{
        font-size: 22px;
    }
    .product__price{
        font-size: 18px;
    }
}